/* You can add global styles to this file, and also import other style files */

body {
  background: url('/assets/cityscape.png') center/cover no-repeat fixed;
  background-color: #1a1a2e;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
